
    h4, h5 {
        margin: 0.5em 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table th {
        background-color: #f2f2f2;
    }

    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }


    th:hover.action-header {
        background-color: #dcdcdc;
    }

    .action-header {
        cursor: pointer;
    }

    .action-button {
        display: inline-block;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }

    .editer-button {
        background-color: #3498db;
        color: #ffffff;
    }

    .supprimer-button {
        background-color: #e74c3c;
        color: #ffffff;
    }

    th.asc:after {
        content: ' ▲';
    }

    th.desc:after {
        content: ' ▼';
    }

    .form-crud form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        margin-bottom: 10px;
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    input[type="text"] {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    
    .recherche form{
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    body {
        font-family: 'Calibri', sans-serif;
    }
    
    h1 {
        font-family: 'Arial', sans-serif;
        text-align: center;
        font-size: 2.5em;
        color: #333;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .action-button.ajouter-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px #999;
    }
    
    .action-button.ajouter-button:hover {
        background-color: #45a049;
    }
    
    .action-button.ajouter-button:active {
        background-color: #3e8e41;
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }

    .navbar {
        display: inline-block;
    }
    
    .navbar a {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
    }
    
    .navbar a:hover {
        background-color: #45a049;
    }
    
    .navbar a:active {
        background-color: #3e8e41;
    }